 {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	overflow: hidden;
}



label {
	background: #444;
	color: #fff;
	-webkit-transition: -webkit-transform 400ms ease-out;
	transition: -webkit-transform 400ms ease-out;
	display: inline-block;
  	min-height: 100%;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

 label {
	 background: #345995;
	 background-size: cover;
	 font-size: 3rem;
 }

 img {
	 z-index: 4;
	 position: absolute;

 }


.plainpage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
	z-index:3;
}
input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1),
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	-webkit-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	-webkit-transform: translate3d(-200%, 0, 0);
	        transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	-webkit-transform: translate3d(-300%, 0, 0);
	        transform: translate3d(-300%, 0, 0);
}



label[for="Loisirs"] {
	background: #F76A19;
}

label:before,
label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	        transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}


 .text{
	 background: red;
	 margin-bottom: auto;
	 padding: auto;
	 width: auto;
	 height: auto;
 }
 .petit{
	 background: yellow;
	 margin-top: auto;
	 padding: auto;
 }
 .full{
	 margin: auto;
 }


