*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-left: 1200px;
}
.calendar {
 
  width: 80%;
  margin: 25% auto;

}

.calendar .header {
  height: 50px;
  width: 100%;
  background-color: #428bca;
  color: #fff;
  text-align: center;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 10px;
  height: 100px;
}
.calendar .header .month {
  opacity: 1;
  text-align: center;
  padding: 0px 30px;
  font-size: 2em;
  margin-bottom: 0px;
  font-weight: normal;
}
.calendar .header .year {
  text-align: center;
  padding: 0px 30px;
  font-size: 1.5em;
}

.ring-left {
  left: 2em;
  position: absolute;
}
.ring-right {
  right: 2em;
  position: absolute;
}

.ring-left:after,
.ring-right:after,
.ring-left:before,
.ring-right:before {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}
.left,
.right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}
.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #FFF transparent transparent;
  left: 20px;
}
.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #FFF;
  right: 20px;
}
.month {
  /*overflow: hidden;*/
  opacity: 0;
  margin-bottom: 40px;
  transition: all 0.7s ease;
}
.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}
.month.in.next {
  -webkit-animation: moveFromLeftFadeMonth 0.4s ease-out;
  -moz-animation: moveFromLeftFadeMonth 0.4s ease-out;
  animation: moveFromLeftFadeMonth 0.4s ease-out;
  opacity: 1;
}
.month.in.prev {
  -webkit-animation: moveFromRightFadeMonth 0.4s ease-out;
  -moz-animation: moveFromRightFadeMonth 0.4s ease-out;
  animation: moveFromRightFadeMonth 0.4s ease-out;
  opacity: 1;
}
.month.out.next {
  -webkit-animation: moveToRightFadeMonth 0.4s ease-in;
  -moz-animation: moveToRightFadeMonth 0.4s ease-in;
  animation: moveToRightFadeMonth 0.4s ease-in;
  opacity: 1;
}
.month.out.prev {
  -webkit-animation: moveToLeftFadeMonth 0.4s ease-in;
  -moz-animation: moveToLeftFadeMonth 0.4s ease-in;
  animation: moveToLeftFadeMonth 0.4s ease-in;
  opacity: 1;
}
.week-days {
  padding: 8px 0px;
  background-color: #efefef;
  border-top: 4px solid #2066A3;
}
.week-days .day {
  cursor: default;
}
.week {
  background-color: #fff;
  /* background: #4A4A4A; */
}
.day {
  display: inline-block;
  width: -webkit-calc(14.28571429%);
  padding: 4px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  /* background: #4A4A4A; */
  position: relative;
  z-index: 100;
}
.day.other {
  color: #E9E9E9;
}

.day.other .circle {
  background-color: #E9E9E9;
}
.day.today {
  color: #428bca;
  font-weight: normal;
}
.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}
.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}
.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .7px;
}
.day-number {
  font-size: 1em;
  letter-spacing: 1.5px;
}
